<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/app.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<!-- each archived file, size max 10MB -->
			<maxFileSize>10MB</maxFileSize>
			<!-- total size of all archive files, if total size > 20GB, it will delete 
				old archived file -->
			<totalSizeCap>20GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE-ROLLING-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/app_error.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/app_error.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<!-- each archived file, size max 10MB -->
			<maxFileSize>10MB</maxFileSize>
			<!-- total size of all archive files, if total size > 20GB, it will delete 
				old archived file -->
			<totalSizeCap>20GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>

	<springProfile name="default">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="prod">

		<logger name="org.springframework" level="INFO">
			<appender-ref ref="FILE-ROLLING" />
		</logger>
		
		<logger name="org.springframework" level="ERROR">
			<appender-ref ref="FILE-ROLLING-ERROR" />
		</logger>

		<logger name="com.rjdaytrade" level="TRACE">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE-ROLLING" />
		</logger>
		
		<logger name="com.rjdaytrade" level="ERROR">
			<appender-ref ref="FILE-ROLLING-ERROR" />
		</logger>

		<root level="ERROR">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE-ROLLING" />
		</root>
	</springProfile>

</configuration>